## Dataframes & Series
As mentioned before, they are the building blocks of pandas and are lickly the two data types we'll be using the most.

In [1]:
import pandas as pd

In [2]:
# load the data
df = pd.read_csv('./data/survey_results_public.csv')
schema_df = pd.read_csv('./data/survey_results_schema.csv')

In [3]:
# setting the columns and row max display
pd.set_option('display.max_columns', 79)
pd.set_option('display.max_rows', 79)

In [4]:
# check first 5 data points
df.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

### Dataframes
lets first learn what a dataframe is and learn how to think about it in terms of a python object. If we look up the definition online, it would say it's a 'two-dimentional' list which basically menas columns and rows. 
We saw it earlier when we loaded the data which was rows and columns so basically, a table, but what is it in native python?

So if we're only using python and not pandas to store this data of rows and columns then how would we do this? We might think of a dictionary to be a good way to store this. Let's take an example.

In [5]:
person = {
    "first": 'Athoug',
    "last": 'Alsoughayer',
    "email": 'athoug@somemail.com',
}

In [6]:
people = {
    "first": ['Athoug', 'jane', 'John'],
    "last": ['Alsoughayer', 'Doe', 'Doe'],
    "email": ['athoug@somemail.com', 'janedoe@email.com', 'johndoe@email.com'],
}

So as we know, a dictionary is a set of key value pairs. for a single item it would work by having a single value, but if we want to replicate or give the illution of rows an columns, one way to think about it is as key and a list or values as seen with the example above.

So if I want to see the list all I have to do is access them using the key. so lets say, I want to access the email list then

In [7]:
people['email']

['athoug@somemail.com', 'janedoe@email.com', 'johndoe@email.com']

So data frames are similar to what we just demonstrated but with more functionality. Actually we can create a dataframe from this dictionary and see what it looks like

In [8]:
people_df = pd.DataFrame(people)

In [9]:
people_df

    first         last                email
0  Athoug  Alsoughayer  athoug@somemail.com
1    jane          Doe    janedoe@email.com
2    John          Doe    johndoe@email.com

we can see now that we created a dataframe, our dictionary looks like a table with rows and columsn. 
Now note we have numbers that don't have a column name, and those are indexes which are basicaly a unique value for our rows (it doesn't need to be unique but we'll talk more about it in the indexes section). 

Now that we have an idea of how to think about a dataframe, it's time to explore how to access information with dataframes

Lets start off by accessing a single column. We can access it the way we did a dictionary as such

In [10]:
people_df['email'] #  bracket notation (named column/ key)

0    athoug@somemail.com
1      janedoe@email.com
2      johndoe@email.com
Name: email, dtype: object

In [15]:
people_df.email # dot notation

0    athoug@somemail.com
1      janedoe@email.com
2      johndoe@email.com
Name: email, dtype: object

__note__ that when you use dot notation to access series you might run into errors if the key is similar to an attribute already assigned to the dataframe for example `.count` so stay on the safe side and use bracket notaion

we can see that it doesn't look like the dictonary value returned and that's because what the dataframe gives us is a `series` we can check that using the `type` method

In [11]:
type(people_df['email'])

pandas.core.series.Series

### Series
So what is a series? it's basically a list of data, but just like dataframes, it has a lot more functionality than just a normal list. if you look up the definition online it would say it's a 'one-dimentional' array which basically means it's rows of data

So again we can think of a __dataframe__ as rows and columns 
and think of a __series__ as rows of a single column

A dataframe is a contianer of multiple of these series objects

We said that dataframes and series have more functionality so lets explore that. Say we wanted to access multiple columns. to do that we can use the bracket notation and pass a list of the columns that we want.
So if we want the first and last name columns what we can do is

In [17]:
people_df[['first', 'last']]

    first         last
0  Athoug  Alsoughayer
1    jane          Doe
2    John          Doe

__note__ now that we got multiple columns, this is no longer a series because remember it (series) are rows of a single column. so when we get multiple columns like the example above, it's just returning another dataframe. And in this case, a filtered down dataframe with just those specific columns.

we can also `slice` it down just as we do with lists (we'll expplore later in a bit)

Now if we want to see a list of columns we can simply use the `.columns` attribute as such

In [19]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

Now we saw how we can get our columns, now what about our rows? In order to get rows, we can use the `.loc` and `iloc` methods. Let's explore them.

`.iloc[]` allows us to access rows by integer location, hene the name. So if I want to access the first row then we simple `df.iloc[4]` now say we want to acceess the first and third row, then `df.iloc[[0,2]]

In [23]:
df.iloc[4]

ResponseId                                                                        5
MainBranch                                           I am a developer by profession
Employment                                                      Employed, full-time
RemoteWork                                     Hybrid (some remote, some in-person)
CodingActivities                                                              Hobby
EdLevel                                Bachelor’s degree (B.A., B.S., B.Eng., etc.)
LearnCode                         Other online resources (e.g., videos, blogs, f...
LearnCodeOnline                   Technical documentation;Blogs;Stack Overflow;O...
LearnCodeCoursesCert                                                            NaN
YearsCode                                                                         8
YearsCodePro                                                                      3
DevType                           Developer, front-end;Developer, full-stack;Dev...
OrgSize                                                          20 to 99 employees
PurchaseInfluence                                             I have some influence
BuyNewTool                        Start a free trial;Visit developer communities...
Country                                                    United States of America
Currency                                                  USD\tUnited States dollar
CompTotal                                                                       NaN
CompFreq                                                                        NaN
LanguageHaveWorkedWith                  C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript
LanguageWantToWorkWith                   C#;Elixir;F#;Go;JavaScript;Rust;TypeScript
DatabaseHaveWorkedWith            Cloud Firestore;Elasticsearch;Microsoft SQL Se...
DatabaseWantToWorkWith            Cloud Firestore;Elasticsearch;Firebase Realtim...
PlatformHaveWorkedWith                                     Firebase;Microsoft Azure
PlatformWantToWorkWith                                     Firebase;Microsoft Azure
WebframeHaveWorkedWith                 Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js
WebframeWantToWorkWith                         Angular;ASP.NET Core ;Blazor;Node.js
MiscTechHaveWorkedWith                                                         .NET
MiscTechWantToWorkWith                                            .NET;Apache Kafka
ToolsTechHaveWorkedWith                                                         npm
ToolsTechWantToWorkWith                                           Docker;Kubernetes
NEWCollabToolsHaveWorkedWith       Notepad++;Visual Studio;Visual Studio Code;Xcode
NEWCollabToolsWantToWorkWith                 Rider;Visual Studio;Visual Studio Code
OpSysProfessional use                                                       Windows
OpSysPersonal use                                                     macOS;Windows
VersionControlSystem                                    Git;Other (please specify):
VCInteraction                                                           Code editor
VCHostingPersonal use                                                           NaN
VCHostingProfessional use                                                       NaN
OfficeStackAsyncHaveWorkedWith                                                  NaN
OfficeStackAsyncWantToWorkWith                                                  NaN
OfficeStackSyncHaveWorkedWith                                  Microsoft Teams;Zoom
OfficeStackSyncWantToWorkWith                                                   NaN
Blockchain                                                              Unfavorable
NEWSOSites                        Collectives on Stack Overflow;Stack Overflow f...
SOVisitFreq                                                  Multiple times per day
SOAccount                                                                       Yes
SOPartFreq                                                    Daily or almost daily
SOComm                                                              Yes, definitely
Age                                                                 25-34 years old
Gender                                                                          NaN
Trans                                                                           NaN
Sexuality                                                                       NaN
Ethnicity                                                                       NaN
Accessibility                                                                   NaN
MentalHealth                                                                    NaN
TBranch                                                                          No
ICorPM                                                                          NaN
WorkExp                                                                         NaN
Knowledge_1                                                                     NaN
Knowledge_2                                                                     NaN
Knowledge_3                                                                     NaN
Knowledge_4                                                                     NaN
Knowledge_5                                                                     NaN
Knowledge_6                                                                     NaN
Knowledge_7                                                                     NaN
Frequency_1                                                                     NaN
Frequency_2                                                                     NaN
Frequency_3                                                                     NaN
TimeSearching                                                                   NaN
TimeAnswering                                                                   NaN
Onboarding                                                                      NaN
ProfessionalTech                                                                NaN
TrueFalse_1                                                                     NaN
TrueFalse_2                                                                     NaN
TrueFalse_3                                                                     NaN
SurveyLength                                                               Too long
SurveyEase                                                                     Easy
ConvertedCompYearly                                                             NaN
Name: 4, dtype: object

In [24]:
df.iloc[[0,2]]

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0

Now we can also access specific columns so if we thing of `loc` and `iloc` as functions, then the first argument are the rows and teh second is the columns. 

Remember with `iloc` we use indexes so we can't add names we have to access teh column indexes as such 
lets take teh people dataframe example since it's smaller

In [25]:
people_df.iloc[[1,2], 2]

1    janedoe@email.com
2    johndoe@email.com
Name: email, dtype: object

In [28]:
people_df.iloc[[1,2], [0,1]]

  first last
1  jane  Doe
2  John  Doe

Now let's take a look at `loc`. Now with `.iloc` we were searching by integer location, but with `.loc` we're searching by label. We'll explore the use case when we cover indexes but for now it will look just like `.iloc`

Let's look at our people dataframe one more time

In [29]:
people_df

    first         last                email
0  Athoug  Alsoughayer  athoug@somemail.com
1    jane          Doe    janedoe@email.com
2    John          Doe    johndoe@email.com

If we look at the numbers in the far left those are our lables. so if I want the first row, it has teh label of zero, so we can do the following

In [30]:
people_df.loc[0]

first                 Athoug
last             Alsoughayer
email    athoug@somemail.com
Name: 0, dtype: object

Just with `.iloc` we can get multiple rows as follows

In [32]:
people_df.loc[[1,2]]

  first last              email
1  jane  Doe  janedoe@email.com
2  John  Doe  johndoe@email.com

Just as we did with `iloc` we can specify specific columns for those rows as well, but note that with `loc` we use lables

In [34]:
people_df.loc[[1,2], ['first','last']]

  first last
1  jane  Doe
2  John  Doe

### Practicing with a larger dataset 
Now that we saw how to grab lists of rows and columns, lets put that into practice with a larger dataset of the stackoverflow we imported earlier

Lets start off by getting an idea of how many rows and columns we have. We learned this before is by using teh `.shape` attribute

In [35]:
df.shape

(73268, 79)

So lets grab the responses for all the `Employment` column

In [36]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [37]:
df['Employment']

0                                                      NaN
1                                      Employed, full-time
2                                      Employed, full-time
3                                      Employed, full-time
4                                      Employed, full-time
                               ...
73263                                  Employed, full-time
73264                                  Employed, full-time
73265                                  Employed, full-time
73266                                  Employed, full-time
73267    Independent contractor, freelancer, or self-em...
Name: Employment, Length: 73268, dtype: object

Let's say we want to have a count of all the emploed responses, pandas is so powerful we can see how we can do that by using the `.value_counts()` method

In [38]:
df['Employment'].value_counts()

Employed, full-time                                                                                                                    42962
Student, full-time                                                                                                                      6756
Independent contractor, freelancer, or self-employed                                                                                    4978
Employed, full-time;Independent contractor, freelancer, or self-employed                                                                3486
Not employed, but looking for work                                                                                                      1831
                                                                                                                                       ...
Student, part-time;Independent contractor, freelancer, or self-employed;Retired                                                            1
Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Not employed, and not looking for work        1
Employed, full-time;Student, full-time;Retired                                                                                             1
Employed, part-time;Not employed, and not looking for work                                                                                 1
Student, part-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired                                        1
Name: Employment, Length: 103, dtype: int64

Now let's grab a specific row and a specific colums. So lets grab the 4th row and the same employment column

In [44]:
df.loc[3]

ResponseId                                                                        4
MainBranch                                           I am a developer by profession
Employment                                                      Employed, full-time
RemoteWork                                                             Fully remote
CodingActivities                                       I don’t code outside of work
EdLevel                                Bachelor’s degree (B.A., B.S., B.Eng., etc.)
LearnCode                         Books / Physical media;School (i.e., Universit...
LearnCodeOnline                                                                 NaN
LearnCodeCoursesCert                                                            NaN
YearsCode                                                                        20
YearsCodePro                                                                     17
DevType                                                       Developer, full-stack
OrgSize                                                        100 to 499 employees
PurchaseInfluence                                             I have some influence
BuyNewTool                                                  Other (please specify):
Country                                                                      Israel
Currency                                                    ILS\tIsraeli new shekel
CompTotal                                                                   60000.0
CompFreq                                                                    Monthly
LanguageHaveWorkedWith                                 C#;JavaScript;SQL;TypeScript
LanguageWantToWorkWith                                            C#;SQL;TypeScript
DatabaseHaveWorkedWith                                         Microsoft SQL Server
DatabaseWantToWorkWith                                         Microsoft SQL Server
PlatformHaveWorkedWith                                                          NaN
PlatformWantToWorkWith                                                          NaN
WebframeHaveWorkedWith                                        ASP.NET;ASP.NET Core
WebframeWantToWorkWith                                        ASP.NET;ASP.NET Core
MiscTechHaveWorkedWith                                                         .NET
MiscTechWantToWorkWith                                                         .NET
ToolsTechHaveWorkedWith                                                         NaN
ToolsTechWantToWorkWith                                                         NaN
NEWCollabToolsHaveWorkedWith             Notepad++;Visual Studio;Visual Studio Code
NEWCollabToolsWantToWorkWith             Notepad++;Visual Studio;Visual Studio Code
OpSysProfessional use                                                       Windows
OpSysPersonal use                                                           Windows
VersionControlSystem                                                            Git
VCInteraction                     Code editor;Command-line;Version control hosti...
VCHostingPersonal use                                                           NaN
VCHostingProfessional use                                                       NaN
OfficeStackAsyncHaveWorkedWith                          Jira Work Management;Trello
OfficeStackAsyncWantToWorkWith                          Jira Work Management;Trello
OfficeStackSyncHaveWorkedWith                                            Slack;Zoom
OfficeStackSyncWantToWorkWith                                            Slack;Zoom
Blockchain                                                         Very unfavorable
NEWSOSites                        Collectives on Stack Overflow;Stack Overflow f...
SOVisitFreq                                                   Daily or almost daily
SOAccount                                                                       Yes
SOPartFreq                                                     A few times per week
SOComm                                                              Yes, definitely
Age                                                                 35-44 years old
Gender                                                                          Man
Trans                                                                            No
Sexuality                                                   Straight / Heterosexual
Ethnicity                                                                     White
Accessibility                                                     None of the above
MentalHealth                                                      None of the above
TBranch                                                                          No
ICorPM                                                                          NaN
WorkExp                                                                         NaN
Knowledge_1                                                                     NaN
Knowledge_2                                                                     NaN
Knowledge_3                                                                     NaN
Knowledge_4                                                                     NaN
Knowledge_5                                                                     NaN
Knowledge_6                                                                     NaN
Knowledge_7                                                                     NaN
Frequency_1                                                                     NaN
Frequency_2                                                                     NaN
Frequency_3                                                                     NaN
TimeSearching                                                                   NaN
TimeAnswering                                                                   NaN
Onboarding                                                                      NaN
ProfessionalTech                                                                NaN
TrueFalse_1                                                                     NaN
TrueFalse_2                                                                     NaN
TrueFalse_3                                                                     NaN
SurveyLength                                                  Appropriate in length
SurveyEase                                                                     Easy
ConvertedCompYearly                                                        215232.0
Name: 3, dtype: object

In [46]:
df.loc[[3, 5, 6], ['Employment']]

            Employment
3  Employed, full-time
5   Student, full-time
6   Student, part-time

It's time to play around with some slicing. So it works teh same way as slice, however the last value is inclusive (at least with `.loc`) so if we wanted the first three rows then we could. We can do it with both rows and columns

In [49]:
df.loc[3:6, ['Employment']] # row slicing

            Employment
3  Employed, full-time
4  Employed, full-time
5   Student, full-time
6   Student, part-time

In [53]:
df.loc[3:6, 'DevType':'Country'] # row and column slicing

,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country
3,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel
4,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America
5,NaN,NaN,NaN,Other (please specify):,Germany
6,NaN,NaN,NaN,Start a free trial;Visit developer communities...,India

## Indexes
we learned earlire how to use default indexes, but now it's time to learn all about custom indexes along with the benifits of doing it.

We'll start off by looking at our peoples dataframe sine it's a smaler dataset which will help us in understanding. Let's have a look at the peoples df

In [54]:
people_df

    first         last                email
0  Athoug  Alsoughayer  athoug@somemail.com
1    jane          Doe    janedoe@email.com
2    John          Doe    johndoe@email.com

As we can see, we have a nameless numbered columns which are our indexes. Those ar ethe defaults. However, sometimes it would be benificial to have a different identifier for that row, and that's called a `label`. They're usually uniqe but pandas doesn't enforce that.

So looking at the data above, what looks like a good idea for uniqe values. Email seems ligitimate. So if I wanted to view all the email adress

In [55]:
people_df['email']

0    athoug@somemail.com
1      janedoe@email.com
2      johndoe@email.com
Name: email, dtype: object

So what if we wanted to set the `email` as the default index, we do that by using `set_index('column name')`

In [56]:
people_df.set_index('email')

                      first         last
email
athoug@somemail.com  Athoug  Alsoughayer
janedoe@email.com      jane          Doe
johndoe@email.com      John          Doe

In [57]:
people_df

    first         last                email
0  Athoug  Alsoughayer  athoug@somemail.com
1    jane          Doe    janedoe@email.com
2    John          Doe    johndoe@email.com

Now that is odd, we just set the email to be the index, but when we looked at the data frame again, it shifted back to the default index. The reason is that Pandas doesn't do a lot of these changes in place unless we tell it to do so. That's good because we can experament without worrying about it affecting anything.

So we can change it and have it carry over by adding another argument `inplace=True` right after the set as follows

In [58]:
people_df.set_index('email', inplace=True)

In [59]:
people_df

                      first         last
email
athoug@somemail.com  Athoug  Alsoughayer
janedoe@email.com      jane          Doe
johndoe@email.com      John          Doe

Now we can see that it's official the email now is the main index! We can also look specifically at that index using the `.index` property as follows

In [60]:
people_df.index

Index(['athoug@somemail.com', 'janedoe@email.com', 'johndoe@email.com'], dtype='object', name='email')

Now the question is, why would it be usuful? Well it's much easier to filter with `.loc` so before we just used the numbered indecese which was more difficult to filter unless you wanted to view specific id's however what if you wanted to find say specific `emails` or another label. In this case custom labels are much more convenient and easier when it comes to filtering

In [63]:
people_df.loc['athoug@somemail.com']

first         Athoug
last     Alsoughayer
Name: athoug@somemail.com, dtype: object

Now say I just want that rows last name column, as we mentioned earlier `.loc` takes in the first list for rows, and the second for columns so what we can do to get the name is as such

In [65]:
people_df.loc['athoug@somemail.com', ['first', 'last']]

first         Athoug
last     Alsoughayer
Name: athoug@somemail.com, dtype: object

__Note__ that we can't use integer indexes with `.loc` anymore because it set the index to email, but if we still wanted to use integer indexes we can still use `iloc` as follows

In [66]:
people_df.iloc[1]

first    jane
last      Doe
Name: janedoe@email.com, dtype: object

Now say you wanted to revert back to the original default index you can do that by reseting the index with `reset_index` method and of course don't forget to include the `inplace=True` argument to make sure the changers carry over

In [69]:
people_df.reset_index(inplace=True)

In [70]:
people_df

                 email   first         last
0  athoug@somemail.com  Athoug  Alsoughayer
1    janedoe@email.com    jane          Doe
2    johndoe@email.com    John          Doe

So if we already know what column we want to set as an index we can do that before hand when loading our data. So lets go the indexes jupyter notebook to play around with the larger data set